
.block { /* Block wrapper */
  margin-bottom: 1.5em;
}

#superfish-2>li{

}

#block-block-1 a {
	color: #9b9b9b;
}

#block-superfish-2{
	height: 105px;
	width: 20%;
	float: left;
	text-align: right;
}

#block-block-1 {
	width: 100%;
	float: left;
}

#block-block-2 {
	width: 25%;
	float: left;
}
#block-block-3{
	width: 55%;
	float: left;
	height: 103px;
}

.pluso-more {
	display: none !important;
}

.pluso-vertical {
	text-align: right !important;
}

#superfish-2>li>a{
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	font-weight: normal;
	color: #7c7c7c;
	text-decoration: none;
}
