/**
 * @file
 * Views Styling
 */


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */

.node-tovar .field {
  float: right;
  width: 336px;
  font-size: 14px;
  font-weight: 700;
  color: #555;
  border: 3px solid #555;
  padding: 3px;
  text-indent: 4px;
  margin-top: -3px;
}

.field-name-field-price {
  margin-top: 0px !important;
}

.field-name-field-factory a{
text-decoration: none;
}
#page-title {
  padding: 10px 15px;
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  text-transform: uppercase;
  margin: 10px 0 30px;
  text-align: left;
  font-weight: 700;
}
.view-tovary .views-exposed-form {
padding-bottom: 10px;
}

.views-exposed-widget .form-item {
  width: 270px;
}
.views-exposed-widget label {
padding-left: 20px;
padding-top: 10px;
background: #3c3c3c;
color: #9b9b9b;
padding-bottom: 10px;
width: 100%;
}

.views-exposed-widget .form-type-bef-link {
  float: left;
  padding: 5px 10px;
  background: rgba(158, 24, 71, 1);
}

.views-exposed-widget .form-type-bef-link:hover, .form-item.selected {
  background: rgba(158, 24, 71, 0.8);
}

.views-exposed-widget .form-type-bef-link a {
  display: block;
  padding: 0px 20px;
  color: white;
}

.views-exposed-widget .form-type-bef-link a:hover {
 text-decoration: none;
}

.ajax-progress-throbber {
  display: none;
}

.form-item a {
  color: #7c7c7c;
  text-decoration: none;
}

.form-item a:hover {
  text-decoration: underline;
}

.form-item.selected a {
  color: rgb(139, 0, 0);
}

#edit-sort-by, #edit-sort-order {
  padding-left: 10px;
} 

.view-sales td {
  width:360px;
  padding-bottom: 20px;
  padding-right: 21px;
}

.price {
  color: black;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 30px;
}
 .new-price {
  color: #900;
  font-size: 1.3em;
  font-weight: bold;
 }

.tovar-title {
  position: absolute;
  padding: 10px 20px 10px 20px;
  background: white;
  max-width: 260px;
  font-family: 'Cuprum', sans-serif;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.tovar-title  a{
  color: black;
  text-decoration: none;
}

.articles-for-main {
  padding-bottom: 20px;
}
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}

.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}

.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}

.views-displays .secondary .open > a:hover {
  color: #333;
}

.views-displays .secondary .action-list li {
  margin: 0;
}

.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}

.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}
